/* Utilities del file App.vue */

/* Import del foglio di stile bootstrap */
@import '~/node_modules/bootstrap/scss/bootstrap.scss';

/* Tutto per site_header (poi da esportare nel destructuring) */

#site_header {
  width: 100vw;
  height: 100px;
  background-color: #2E3A46;
}

/* Tutto per site_main (poi da esportare nel destructuring) */

#site_main {
  width: 100vw;
  height: calc(100vh - 100px);
  background-color: #1E2D3B;
  overflow-y:auto
}

#site_main::-webkit-scrollbar {
  width: 10px;  /* width of the entire scrollbar */
}

#site_main::-webkit-scrollbar-track {
  background: #dc3545;       /* color of the tracking area */
}

#site_main::-webkit-scrollbar-thumb {
  background-color: #2E3A46;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 0.5px solid #dc3545;  /* creates padding around scroll thumb */
}


.card-body {
  padding-top: 15px !important;
    flex: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    color: white;
    border-radius: 10px !important;
    box-shadow: 0 0 10px rgb(112, 112, 112);

    /* Immagini contenute al suo interno */
    img {
      width: 342px;
      height: 513px; 
      border-radius: 10px;
    } 
    /* Immagine segnaposto */
    .null_photo {
      max-width: 100%;
      width: 342px;
      height: 513px; 
      background-repeat: no-repeat;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
    /* Altezza che do al titolo */
    .h_title {
      height: 60px;
    }

    .h_lang {
      height: 50px;
    }
}

/* Tutto per il file app.vue */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Proprietà del id APP */
  width: 100vw; /* Altezza e larghezza */
  height: 100vh;
  margin: 0 auto; /* Centraggio Perfetto */
  overflow-x: hidden; /* Nascosto Overflow X */
  overflow-y: hidden; /* Nascosto Overflow Y */
}

/*#region Regole Principali di Col e Row  */

/*#endregion */

/* Regole di Dispaly Flex */
.flex_cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
    padding-bottom: 2rem;
    li {
        line-height: 1.35rem;
        list-style: none;
    }
}

/* Immagine di background in caso in cui non sia presente */
.null_photo {
    background-image: url("https://picsum.photos/342/513");
    width: 342px; // larghezza fissa, identica a immagine di copertina
    height: 513px; // altezza fissa
    border-radius: 10px;
}

/* Colonna di testo vuoto da applicare nel V-FOR all over */

.details {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem;
  color: transparent;
  display: none;
  z-index: 10;
  overflow-y:auto;
  /* Lista non ordinata */  
  ul {
    list-style: none;
    padding-left: 0;
  }
}

/* Stile dell overflow della card nascosta */

/* width of the entire scrollbar */
.details::-webkit-scrollbar {
  width: 6px;  
}

/* color of the tracking area */
.details::-webkit-scrollbar-track {
  background: transparent;      
}

.details::-webkit-scrollbar-thumb {
  background-color: #dc3545;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 0.5px solid #dc3545;  /* creates padding around scroll thumb */
}

/* Card nascosta - effetto hover */
.card-body:hover .details {
  background-color: #140c0c;
  filter: opacity(95%);
  color: white;
  display: block;
}

.abs {
  position: absolute;
  top: 0%;
  left: 0%;
}
